<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ewus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>test.AddUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthenticationAndLogin</servlet-name>
    <servlet-class>com.servlets.AuthenticationAndLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderService</servlet-name>
    <servlet-class>com.servlets.OrderService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddLunchDish</servlet-name>
    <servlet-class>test.AddLunchDish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderService</servlet-name>
    <url-pattern>/OrderService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationAndLogin</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddLunchDish</servlet-name>
    <url-pattern>/AddLunchDish</url-pattern>
  </servlet-mapping>
</web-app>